<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elektroniczny Słownik Łaciny Średniowiecznej w Polsce - eLexicon Mediae et Infimae
      Latinitatis Polonorum</title>
    <link rel="stylesheet" href="resources/style/foundation5.3.0/normalize.css" />
    <!-- KN: dodane dla kompatybliności ze starszą wersją -->
    <link rel="stylesheet" href="resources/style/foundation5.3.0/foundation.css" />
    <link rel="stylesheet" href="resources/style/foundation/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="resources/style/jquery-ui.css" />
    <link rel="stylesheet" href="resources/style/style.css" />
    <link href="resources/style/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="resources/script/foundation5.3.0_vendor/modernizr.js"></script>
  </head>
  <body data-template="helper:current_page">
    <!-- Wspolna gora strony --><div id="top-bar-holder" class=""><nav class="top-bar"
        data-topbar=""><section class="top-bar-section"><ul class="title-area">
            <li class="name"><h1><a data-template="helper:rewrite-rel" data-template-url="#">
                  eLexicon Mediae et Infimae Latinitatis</a></h1></li>
            <li class="divider"></li>
            <li class="has-dropdown" data-template="helper:language_menu"></li>
            <li class="divider"></li>
          </ul></section><section class="top-bar-section">
          <!-- Right Nav Section -->
          <!-- Left Nav Section --><ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown not-click"><a href="#"><span data-template="i18n:text_direct"
                  data-template-name="menu.browse"></span></a><ul class="dropdown">
                <li class="title back js-generated"><h5><a href="javascript:void(0)"
                  >Back</a></h5></li>
                <li><label><span data-template="i18n:text_direct" data-template-name="menu.browse"
                    ></span></label></li>
                <li>
                  <a data-template="helper:rewrite-rel" data-template-url="quaere"
                    data-template-text="global.Advanced"/> 
                </li>

              </ul></li>
            <li class="divider"></li>
            <li class="has-dropdown not-click"><a href="#"><span data-template="i18n:text_direct"
                  data-template-name="menu.sources"></span></a><ul class="dropdown">
                <li class="title back js-generated"><h5><a href="javascript:void(0)"
                  >Back</a></h5></li>
                <li><label><span data-template="i18n:text_direct" data-template-name="menu.sources"
                    ></span></label></li>
                <li>
                  <a data-template="helper:rewrite-rel" data-template-url="fontes"
                    data-template-text="menu.browse"/>
                </li>
              </ul></li>
            <li class="divider"></li>
            <li class="has-dropdown not-click"><a href="#"><span data-template="i18n:text_direct"
                  data-template-name="menu.about"></span></a><ul class="dropdown">
                <li class="title back js-generated"><h5><a href="javascript:void(0)"
                  >Back</a></h5></li>
                <li>
                  <a data-template="helper:rewrite-rel" data-template-url="meta/auctores"
                    data-template-text="menu.auctores"/>
                </li>
                <li>
                  <a data-template="helper:rewrite-rel" data-template-url="meta/antiqui"
                    data-template-text="menu.antiqui"/>
                </li>
                <li>
                  <a data-template="helper:rewrite-rel" data-template-url="meta/historia"
                    data-template-text="menu.historia"/>
                </li>
                <li>
                  <a data-template="helper:rewrite-rel" data-template-url="meta/documenta"
                    data-template-text="menu.documenta"/>
                </li>
                <li>
                  <a target="_blank"
                    href="http://scriptores.pl/projekt/projects/elexicon-bugs/issues/new">
                    <span
                      data-template="i18n:text_direct" data-template-name="menu.bug"
                  ></span></a></li>
              </ul></li>
            <li class="divider"></li>
            <li class="has-form"><form action="views/indexRedirect.xql" method="GET"><div
                  class="row collapse"><div class="large-8 small-9 columns"><span
                      class="ui-helper-hidden-accessible" aria-live="polite" role="status"
                      ></span><input autocomplete="off" class="ui-autocomplete-input"
                      placeholder="Szukaj" name="what" id="nav_search_field" type="text"
                     /></div><div class="large-4 small-3 columns"><a class="secondary button expand"
                       type="submit" text="Search"><span data-template="i18n:text_direct"
                         data-template-name="global.search"/></a></div></div></form></li>
          </ul></section></nav></div>
    <!-- Koniec wspolnej gory strony -->
    <!-- CONTENT --><div class="row single-view-content" id="content"></div>
    <!-- wspolny dol strony --><div class="bottom-holder"><div class="row"><div
          class="small-12 columns"><div class="bg-source">Tło: rękopis Rps 3007 III (XV wiek),
            Źródło: <a href="http://www.polona.pl/item/6060614/13/" target="_blank"
            >polona.pl</a></div><div class="issn">ISSN 2300-5742, 2 / 2014 (1 VI 2014
          r.)</div></div></div></div><div class="print small-12 columns"
      data-template="helper:session_print"></div><script type="text/javascript" src="resources/script/foundation5.3.0_vendor/jquery.js"></script><script type="text/javascript" src="resources/script/foundation5.3.0.min.js"></script>
    <!--<script type="text/javascript" src="resources/scripst/jquery.js"/>--><script type="text/javascript" src="resources/script/jquery-ui.js"></script><script>$(document).foundation();</script><script type="text/javascript" src="resources/script/moje.js"></script></body>
</html>